<div class="container">
  <div class="row justify-content-between align-items-center mb-4">
    <h1 class="appointment-list-title">Appointment List</h1>
    <button routerLink="/landing-page/create-appointment" class="btn btn-primary add-appointment-btn" *ngIf="isadmin || ispatient">
      Add Appointment
    </button>
  </div>

  <!-- Container for appointment cards -->
  <div class="appointment-list">
    <div *ngFor="let appointment of appointments" class="appointment-card">
      <div class="appointment-field">
        <strong>Appointment ID:</strong> {{ appointment.appointmentId }}
      </div>
      <div class="appointment-field">
        <strong>Patient ID:</strong> {{ appointment.patient.patientId }}
      </div>
      <div class="appointment-field">
        <strong>Doctor ID:</strong> {{ appointment.doctor.doctorId }}
      </div>
      <div class="appointment-field">
        <strong>Date:</strong> {{ appointment.appointmentDate }}
      </div>
      <div class="appointment-field">
        <strong>Status:</strong> {{ appointment.appointmentStatus }}
      </div>
      <div class="appointment-field">
        <strong>Remark:</strong> {{ appointment.remark }}
      </div>
      <div class="appointment-actions">
        <button (click)="updateAppointment(appointment.appointmentId)" class="btn btn-info">Update/Confirm</button>
        <button (click)="deleteAppointment(appointment.appointmentId)" class="btn btn-danger" *ngIf="isadmin">Delete</button>
      </div>
    </div>
  </div>
</div>
