<!-- <div class="container">

  <div class="container-fluid heading">
    <h1>User List</h1>
    <button routerLink="/landing-page/create-user" class="btn btn-primary myBtn">
      Add User
    </button>
  </div>
    
  <div class="UserList">
    <div class="card userCard" *ngFor="let user of users; let i=index" >
      <div class="card-body">
        <h5 class="card-title textOver">{{user.userName}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary textOver">{{user.role}}</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <!-- <div class="optionsL">
          <p class="cLink" (click) = "updateUser(user.userId)">Update</p>
          <p class="cLink" (click) = "deleteUser(user.userId)">Delete</p>
        </div>
      </div>
    </div>
  </div>
  
</div> -->
 
<h1>Hey User!</h1>